/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

  body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
  }

 // main {
 //   flex: 1;
 // }

// .container {
//   width: 1000px;
//   margin: 0 auto;
// }
footer {
  margin-top: auto;
}

.n-circle {
  position: absolute;
  padding-left: 0rem;
  padding-top: 0rem;
  color: #efa04c;
}

* {
  text-shadow: 1px 1.5px 1px rgba(0,0,0,0.2);
}

.table_border_radius {
  border-radius: 5px;
  border-spacing: 0;
  border-collapse: separate;
}

.post-link {
  border: 1px solid white;
}

.post-link:hover {
  border: 2px solid #AAAAAA;
}

.image-link {
  border: 2px solid white;
}

.image-link:hover {
  border: 2px solid #AAAAAA;
}

a:hover {
  text-decoration: none;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

h4 {
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  background: #FFF0F5;
}

h4:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #000;
}