<div class="containe my-4">
  <div class="row justify-content-center">
    <h3>本当に退会しますか？</h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>
        <p class="my-4 text-center">
          退会すると、会員登録情報や
          </br>
          これまでの取引情報が閲覧できなくなります。
          </br>
          退会する場合は、「退会する」をクリックしてください。
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <%= link_to "退会しない", user_path, class: "btn btn-outline-primary" %>
      <%= link_to "退会する", quit_user_path, method: :PATCH, data: {confirm: "本当に退会してもよろしいですか？"}, class: "btn btn-outline-danger ml-4" %>
    </div>
  </div>
</div>